<!-- <div class="dark-theme" >
    <button mat-icon-button aria-label="Show menu" class="menu-button" (click)="showMenu = !showMenu">
        <mat-icon>menu</mat-icon>
      </button>
    <div class="nav-wrap" [ngClass]="{'show': showMenu}">
        <div class="nav panel">
            <div class="container">
                <div class="menu">
                    <span *ngFor="let nav of navDataPermission" >
                        <a class="menu-item menu-wrap" matRipple routerLink={{nav.url}} routerLinkActive="active" (click)="collapseAll()"
                            *ngIf="!nav.child">
                            <mat-icon class="mat-18 menu-icon material-icons-outlined">{{nav.logo}}</mat-icon>
                            <span>{{nav.text}}</span>
                        </a>
                    </span>

                </div>
            </div>
        </div>

    </div>
    <div class="nav-wrap nav-wrap-rel" [ngClass]="{'hide': !showMenu}" style="position: relative;"></div>
</div> -->