<div class="d-dialog">
    <h3 mat-dialog-title>
        <span>Delete category confirmation</span>
    </h3>
    <mat-dialog-content>
        <div class="d-dialog-content">
            <div class="d-row">
                <div class="d-value" style="text-align: center;">
                    All products associated with this category <span style="font-weight: 600;">{{data.name}}</span>
                    will be deleted too. Are you sure?
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-action">
        <div class="d-dialog-buttons">
          <button mat-button mat-raised-button color="warning" mat-dialog-close>No</button>
    
          <div class="d-button-right">
            <button mat-raised-button color="primary" (click)="deleteCategory()">
              Yes
            </button>
          </div>
        </div>
      </mat-dialog-actions>
</div>
