html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
}

.list-group-item:focus {
    outline: none;
}

.list-group-item.active {
    border-radius: 10px;
}

.list-group-item:not(.active):hover {
    color: #fff;
    background-color: #71a5f3;
    border-radius: 10px;
}

.button {
    text-decoration: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(40 119 237); 
    padding: 10px;
    margin-right: 10px;
}

.gg-arrow-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg-arrow-left::after,
.gg-arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
.gg-arrow-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.gg-arrow-left::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}