/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    overflow-x: hidden;
}

.content-container {
    margin-top: 50px;
}

.d-dialog {
    width: 500px;
}

.fullwidth {
    width: 100%;
}

.d-dialog-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.d-button-right {
    margin-left: 10px;
}